# Rust / Cargo
**/target/
Cargo.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo
.direnv/
.env

# OS related
.DS_Store
thumbs.db

# Build artifacts
*.so
*.a
*.rlib
*.pdb
*.d
*.dll
*.exe


# TOS specific
/traditional/concepts/cpp_nav/build/
/traditional/concepts/cpp_nav/bin/
**/logs/
*.log
/_live.tos-session
/_live.tos-session.tmp

# Release & Build Targets
**/targets/
/beta-0/targets/
/beta-0/dev/
/beta-0/*.tar.gz

# UI & E2E Web related
**/node_modules/
**/.svelte-kit/
face-svelte-ui/build/
face-svelte-ui/test-results/
face-svelte-ui/playwright-report/
face-svelte-ui/dom-e2e-dump.html
.next/
/pkg/
/out/

# Electron Face
face-electron-any/dist/
face-electron-any/release/
face-electron-any/build-log*.txt
.cache-eb/

# Android / Gradle
.gradle/
local.properties
**/libs/arm64-v8a/
