#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	make build-services

override_dh_auto_install:
	mkdir -p debian/tos/usr/bin
	cp target/release/tos debian/tos/usr/bin/tos
	cp target/release/tos-brain debian/tos/usr/bin/tos-brain
	# Install desktop files
	mkdir -p debian/tos/usr/share/xsessions
	cp packaging/tos.desktop debian/tos/usr/share/xsessions/
