#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	cd alpha-1 && cargo build --release

override_dh_auto_install:
	mkdir -p debian/tos/usr/bin
	cp alpha-1/target/release/tos debian/tos/usr/bin/tos-session
	# Install desktop files
	mkdir -p debian/tos/usr/share/xsessions
	cp packaging/tos.desktop debian/tos/usr/share/xsessions/
